.btn-twitter {
    background-color: #1da1f2;
  }
  
  .btn-instagram {
    background-color: #c32aa3;
  }
  
  .btn-github {
    background-color: #333333;
  }
  
  .btn-email {
    background-color: #dd4b39;
  }