.home {
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #000000; /* Adjust the border properties as needed */
    border-bottom: 2px solid #000000; /* Adjust the border properties as needed */
  }
  
  .header h1 {
    margin: 0;
  }
  
  .content {
    padding: 30px;
  }
  
  .content img {
    max-width: 100%;
    border: 2px solid #000000; /* Adjust the border properties as needed */
    border-radius: 5px; /* Add border radius if desired */
  }
  
  .content p {
    margin-top: 0px;
    border: 2px solid #000000; /* Adjust the border properties as needed */
    padding: 10px; /* Add padding if desired */
    border-radius: 5px; /* Add border radius if desired */
  }
  