.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  
  .page-content {
    margin-top: 70px; /* Adjust the margin-top value as needed */
    position: relative;
    z-index: 1;
  }